<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Omega</title>
    <style>
      html,
      body,
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      html,
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <omega-input-field></omega-input-field>
    <script>
      const container = document.getElementById('container');
      const workspace = new Omega.Workspace(container);

      const { width, height } = container.getBoundingClientRect();

      new Array(2).fill('').forEach(() => {
        const x = Math.floor(Math.random() * width);
        const y = Math.floor(Math.random() * width);
        const circle = new Omega.Circle(workspace);
        circle.render();
        circle.setCoordinate(x, y);
      });

      const rectangle = new Omega.Rectangle(workspace, 200, 100, 4);
      rectangle.render();
      rectangle.setCoordinate(200, 100);

      const diamond = new Omega.Diamond(workspace, 100, 4);
      diamond.render();
      diamond.setCoordinate(300, 200);
    </script>
  </body>
</html>
